.smv-home-container {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
}

.smv-home-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 40px;
    width: 100%;
    max-width: 900px;
    gap: 40px;
}


.smv-home-row-top {
  display: flex;
  gap: 80px; /* substitui o grid-gap, que não funciona em flex */
  margin-bottom: 20px;
}

@media (max-width: 840px) {
  .smv-home-row-top {
    display: grid;
    gap: 35px;
    grid-template-columns: 1fr;
  }
}