.smv-home-container {
    display: flex;
    flex-direction: column;
    justify-content: center; 
    align-items: center;               
}

.smv-home-container h2 {
    margin-bottom: 16px;
}

.smv-home-row {
    display: flex;
    gap: 60px;
}

.smv-home-row h2 {
    margin-bottom: 4px;
}


@media (max-width: 768px) {
    .smv-home-row {
        flex-direction: column;
        align-items: center;
    }
}