.home-card {
    width: 260px;
    height: 140px;
    border: 1px solid var(--smv-color-black);
    background-color: var(--smv-color-gray);
    border-radius: 26px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 10px;
    cursor: pointer;
    transition: 0.2s ease-in-out;
}

.home-card:hover {
    transform: translateY(-5px);
    box-shadow: 0 8px 20px rgba(0,0,0,0.15);
}

.home-card h2 {
    font-size: 24px;
    text-align: center;
}